<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div id="posts_list">
    <div class="container col-md-4">
<!--        <form th:action="@{/users}" th:object="${userDTO}" method="post">-->
            <div class="form-group">
                <label>이메일</label>
                <input type="text" name="email" class="form-control"  id="email" placeholder="이메일을 입력해주세요"/>
            </div>

            <div class="form-group">
                <label>비밀번호</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요"/>
            </div>

            <div class="form-group">
                <label>닉네임</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="닉네임을 입력해주세요"/>
            </div>


            <button class="btn btn-primary bi bi-person" id="sign-up"> 가입</button>
            <a th:href="@{/}" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
<!--        </form>-->
    </div>
</div>
</body>
<script>
    document.querySelector("#sign-up").addEventListener("click",()=>{
        const email =document.querySelector("#email").value;
        const password = document.querySelector("#password").value;
        const nickname = document.querySelector("#name").value;

        const userDTO = {
            email : email,
            password: password,
            name: nickname
        };

        fetch("/api/v1/auth/signUp",{
            method : "POST",
            headers : {
                "Content-Type" : "application/json"
            },
            body: JSON.stringify(userDTO)
        })
            .then(response => response.json())
            .then((result)=>{
                if(result.code !== 0){
                    alert(result.message);
                    return;
                }
                alert(result.message);
                window.location.href ="/";
            })
    })
</script>
</html>