<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
<body>
<div th:fragment="header">
    <table>
        <tr>
            <td>
                <div th:if="${user == null}">
                    <h3>로그인 되어 있지 않습니다!</h3>
                    <a class="btn btn-primary" th:href="@{/users/signIn}" role="button">로그인</a>
                    <a class="btn btn-primary" th:href="@{/users/signUp}" role="button">회원가입</a>
                </div>
                <div th:unless="${user == null}">
                    <h3>[[${user.getName()}]]님 환영합니다!</h3>
                    <a class="btn btn-primary" id="new" role="button">글작성</a>
                    <a class="btn btn-danger" id="logout"  role="button">로그아웃</a>
                </div>
            </td>
        </tr>
    </table>
<script>
        document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#logout').addEventListener("click", () => {
            // ACCESS-TOKEN 쿠키를 삭제합니다.
            document.cookie = 'ACCESS-TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            // REFRESH-TOKEN 쿠키를 삭제합니다.
            document.cookie = 'REFRESH-TOKEN=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

            window.location.href = "/";
        });

        document.querySelector("#new").addEventListener("click", (event) => {
        event.preventDefault();
        fetch("/boards/new", {
        headers: {
        'Authorization': 'Bearer ' + getCookie('ACCESS-TOKEN')
    }
    })
        .then(response => {
        if (!response.ok) {
        return response.json().then(err => {throw new Error(err.message);});
    }
        return response.text();
    })
        .then(data => {
        window.location.href = '/boards/new';
    })
        .catch(error => {
        alert(error.message);
        // window.history.back();
    });
    });

        function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }
    });
</script>
</div>
</body>
</html>